searchit.heiphaistos.org {
	encode zstd gzip
	reverse_proxy searchit:8787

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"
}
